In [2]:
#using .Series() to make tables and  

import pandas as pd
s= pd.Series([1,2,3,4,5])
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
#creating DataFrame using DataFrame() with the dictionary

df= pd.DataFrame({'A':[1,2,3,4],
                  'B':pd.Timestamp('20200301'),
                  'C':pd.Series([1,2,3,4]),
                  'D':pd.Categorical(['True','False','True','False']) })
print(df)

   A          B  c      D
0  1 2020-03-01  1   True
1  2 2020-03-01  2  False
2  3 2020-03-01  3   True
3  4 2020-03-01  4  False

In [11]:
df.dtypes

A             int64
B    datetime64[ns]
c             int64
D          category
dtype: object

In [17]:
#using .head() function -- first 5 rows
df.head()

   A          B  c      D
0  1 2020-03-01  1   True
1  2 2020-03-01  2  False
2  3 2020-03-01  3   True
3  4 2020-03-01  4  False

In [18]:
#using .tail() function -- last five rows
df.tail()

   A          B  c      D
0  1 2020-03-01  1   True
1  2 2020-03-01  2  False
2  3 2020-03-01  3   True
3  4 2020-03-01  4  False

In [20]:
#sorting the data with index 

df.sort_index(axis=1, ascending=True)

   A          B      D  c
0  1 2020-03-01   True  1
1  2 2020-03-01  False  2
2  3 2020-03-01   True  3
3  4 2020-03-01  False  4

In [22]:
#sorting the data with columns

df.sort_values(by='A')

   A          B  c      D
0  1 2020-03-01  1   True
1  2 2020-03-01  2  False
2  3 2020-03-01  3   True
3  4 2020-03-01  4  False

In [25]:
#acsessing row 

df[0:2]

   A          B  c      D
0  1 2020-03-01  1   True
1  2 2020-03-01  2  False

In [26]:
#acsessing columns

df['B']

0   2020-03-01
1   2020-03-01
2   2020-03-01
3   2020-03-01
Name: B, dtype: datetime64[ns]

In [27]:
#checking the null value with .isnull() True/False
df.isnull()

       A      B      c      D
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False  False  False

In [28]:
#removing the null value columns
df.dropna()

   A          B  c      D
0  1 2020-03-01  1   True
1  2 2020-03-01  2  False
2  3 2020-03-01  3   True
3  4 2020-03-01  4  False

In [ ]:
#fill up the null values with any value
df.fillna(value='2')

In [31]:
#geting the mean of all the columns
df.mean()

<ipython-input-31-ba6acb0e084a>:2: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df.mean()

A    2.5
c    2.5
dtype: float64